* {
	box-sizing: border-box;
}
body {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}
#btn {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 6px;
	border: none;
	padding: .5rem 1rem;
	background-color: #1151bf;
	box-shadow: 0 2px 3px 1px;
	opacity: 0;
	pointer-events: none;
	transition: opacity .5s linear;
}
#btn.show {
	opacity: 1;
	pointer-events: auto;
}